@charset "UTF-8";

h2,
h3,
h4 {
  font-weight: normal;
}

@font-face {
  font-family: $dnastack-icons-font-family;
  src:url($dnastack-icons-eot-font-path);
  src:url($dnastack-icons-eot-font-path + "?#iefix") format("embedded-opentype"),
  url($dnastack-icons-woff-font-path) format("woff"),
  url($dnastack-icons-woff2-font-path) format("woff2"),
  url($dnastack-icons-ttf-font-path) format("truetype"),
  url($dnastack-icons-svg-font-path + "#ddap-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ddap-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-visa-types:before { content: '\e800'; } /* '' */
.icon-visa-sources:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-test:before { content: '\e803'; } /* '' */
.icon-settings:before { content: '\e804'; } /* '' */
.icon-session:before { content: '\e805'; } /* '' */
.icon-resources:before { content: '\e806'; } /* '' */
.icon-profile:before { content: '\e807'; } /* '' */
.icon-passport-issuers:before { content: '\e808'; } /* '' */
.icon-id-providers:before { content: '\e809'; } /* '' */
.icon-groups:before { content: '\e80a'; } /* '' */
.icon-definitions:before { content: '\e80b'; } /* '' */
.icon-consent:before { content: '\e80c'; } /* '' */
.icon-audit:before { content: '\e80d'; } /* '' */
.icon-apps:before { content: '\e80e'; } /* '' */
.icon-access-policy:before { content: '\e80f'; } /* '' */
.icon-quickstart:before { content: '\e810'; } /* '' */

// OTHER

.text-color--subtle {
  color: $navbar-font-subtle-color;
}

.text-color--subtle-darker {
  color: $color-grey;
}

.text-size--small {
  font-size: 0.8rem;
}

.uppercase {
  text-transform: uppercase;
}

.text-style--bold {
  font-weight: bold;
}

.text-style--italic {
  font-style: italic;
}

.color--warn {
  color: $failure-color;
}
