@import 'base';

$space-lg: 24px;
$space: 16px;
$space-sm: 10px;

$sm: 12px;

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $primary-font-family;
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.flex--row {
  flex-direction: row;
}

.vertical-center {
  align-items: center;
}

.stretch {
  flex-grow: 1;
}

.warning-section {
  display: flex;
  align-items: center;
  color: $warn-font-color-alert;
  border: 0;
  border-radius: 0;
  background-color: $warn-background-color-alert;
  padding: .75rem 1.25rem;
  margin-bottom: 2rem;

  span {
    margin-left: 0.5rem;
  }
}

/** Links **/
a {
  color: map-get($app-accent, 600);
  text-decoration: none;

  &:hover {
    color: map-get($app-accent, 600);
    text-decoration: none;
  }
}

.active {
  color: map-get($app-accent, 600);
  &.mat-menu-item .mat-icon-no-color {
    color: map-get($app-accent, 600);
  }
}

/** Fonts **/

.text-muted {
  color: #4f4f4f;
}


/** FIXME: rename classes and reduce the use of generic classes **/
/** Spacing **/

.m-l-lg {
  margin-left: $space-lg;
}

.m-l-sm {
  margin-left: $space-sm;
}

.m-r-lg {
  margin-right: $space-lg;
}

.m-r-sm {
  margin-right: $space-sm;
}

.m-b-lg {
  margin-bottom: $space-lg;
}

.m-b-sm {
  margin-bottom: $space-sm;
}

.m-b {
  margin-bottom: $space;
}

.m-r {
  margin-right: $space;
}

.m-l {
  margin-left: $space;
}

.m-t {
  margin-top: $space;
}

.m-t-sm {
  margin-top: $space-sm;
}

.p-a {
  padding: $space;
}

.p-a-sm {
  padding: $space-sm;
}

.m-a {
  margin: $space;
}

.m-s {
  margin-left: $space;
  margin-right: $space;
}

.m-s-sm {
  margin-left: $space-sm;
  margin-right: $space-sm;
}

.m-v {
  margin-top: $space;
  margin-bottom: $space;
}

/** Borders **/

.b-a {
  border: 1px solid #e0e0e0
}

.b-b {
  border-bottom: 1px solid #e0e0e0
}

.b-t {
  border-top: 1px solid #e0e0e0
}

.b-r {
  border-right: 1px solid #e0e0e0
}

.b-l {
  border-left: 1px solid #e0e0e0
}

/** Overrides **/

.mat-stepper-vertical {
  border: 1px solid #e0e0e0
}
